@import '../../assets/styles/abstract/variables';

.task-list {
  margin-top: 38px;
}

.task-wrapper {
  margin-bottom: 30px;
}

.task {
  $a: &;
  background-color: $accent-color;
  color: #fff;
  margin-bottom: 20px;
  height: 100%;
  margin-bottom: 30px;
  min-height: 245px;
  display: block;
  position: relative;
  overflow: hidden;
  &-name {
    font-family: $default-font-family;
    font-size: 40px;
    line-height: 45px;
  }
  &-description {
    font-size: 18px;
    margin-top: 8px;
  }

  &-to-detail {
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
    margin-top: 14px;
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
  }

  &__controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
  }

  &-control {
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 10px;
    &:hover {
      background-color: $accent-color;
    }
    &--remove {
      &:hover {
        background-color: red;
      }
    }
  }

  &__sides {
    height: 100%;
  }

  &__side {
    height: 100%;
    padding: 30px;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    display: flex;
    &:nth-child(2) {
      background-color: $secondary-color;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(-100%);
      transition: .3s ease;
      z-index: 1;
    }
    &--has-bg {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.45);
      }
    }
  }

  &__side-content {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  &:hover {
    #{$a} {
      &__controls {
        opacity: 1;
      }
      &__side {
        &:nth-child(2) {
          transform: translateY(0);
        }
      }
    }
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
  }

  //states
  &.complete {
    border-color: green;
  }
}