@import '../../assets/styles/abstract/variables';

.task-list {
  margin-top: 38px;
}

.task-wrapper {
  margin-bottom: 30px;
}

.task {
  $a: &;
  background-color: $accent-color;
  color: #fff;
  margin-bottom: 20px;
  height: 100%;
  margin-bottom: 30px;
  min-height: 245px;
  display: block;
  &-name {
    font-family: $default-font-family;
    font-size: 40px;
    line-height: 45px;
  }
  &-description {
    font-size: 18px;
    margin-top: 8px;
  }

  &__side {
    height: 100%;
    padding: 30px;
    display: none;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    &:nth-child(2) {
      background-color: $secondary-color;
    }
    &--has-bg {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.45);
      }
    }
  }

  &__side-content {
    position: relative;
    z-index: 1;
  }

  &:not(:hover) {
    #{$a}__side {
      &:nth-child(1) {
        display: flex;
      }
    }
  }

  &:hover {
    #{$a}__side {
      &:nth-child(2) {
        display: flex;
      }
    }
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
  }

  //states
  &.complete {
    border-color: green;
  }
}