<div class="page">
  <div class="container page-container" data-title="{{ pageTitle }}">

    <div class="row align-items-baseline page-header">
      <div class="col-8">
        <h1 class="page-title">{{ pageTitle }}</h1>
      </div>
      <div class="col-4">
        <div class="page-actions text-right">
          <button class="link-action" (click)="openAddTaskModal()">add</button>
          <button class="link-action" (click)="deleteAll()">clear</button>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-4">
        <input type="text" [(ngModel)]="searchString" class="form-control" placeholder="search">
      </div>
      <div class="col-8">
        <div class="link-filter-group text-right">
          <button *ngFor="let option of completionFilterOptions"
            (click)="completionFilter = option.value"
            class="link-action"
            [class.active]="completionFilter === option.value">
            {{ option.name }}
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="tasks.length else noTasks">
      <div class="row task-list">
        <div class="col-6 task-wrapper" *ngFor="let task of tasks | propFilter: 'isComplete': completionFilter | searchByProp: 'name': searchString" [class.complete]="task.isComplete">
          <a routerLink="/task-list/{{task.id}}" class="task" [class.complete]="task.isComplete">
            <div class="task__side">
              <div class="tasc__side-content">
                <div class="task-name">{{ task.name }}</div>
              </div>
            </div>
            <div class="task__side" style="background-image: url(assets/tasks/1.jpg)">
              <div class="task-description" *ngIf="task.description">
                {{ task.description }}
              </div>
            </div>
            <div class="d-none">
              <button (click)="deleteTask(task.id)">delete</button>
            </div>
          </a>
        </div>
      </div>

    </ng-container>

    <ng-template #noTasks>
      Task list is empty
    </ng-template>

  </div>
</div>
