.task {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid gray;
  &-name {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 22px;
  }
  &-description {
    display: 16px;
    margin-top: 8px;
  }

  //states
  &.complete {
    border-color: green;
  }
}