@import '~bootstrap/dist/css/bootstrap.css';

@import 'assets/styles/common';

html, body {
  font-family: 'SegoeUI', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'SegoeUI', sans-serif; 
}
